<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xnewsInService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="xnewsInService.Properties.Settings.oracleConn" connectionString="Data Source=cmdbs;Persist Security Info=True;User ID=mfadmin;Password=mfadmin" />
    </connectionStrings>
    <userSettings>
        <xnewsInService.Properties.Settings>
            <setting name="AppTitle" serializeAs="String">
                <value>MeidaManagerAvidInClipService</value>
            </setting>
            <setting name="ScanXmlInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="scanstpFilePath" serializeAs="String">
                <value>\\10.27.137.111\smg\test\DBoxRoot\ArcStpAVIDCLIP</value>
            </setting>
            <setting name="platform" serializeAs="String">
                <value>外来电讯</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value>快编制作</value>
            </setting>
            <setting name="errorRetryCounts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="scanHrDoneFiePath" serializeAs="String">
                <value>\\10.27.137.111\smg\test\DBoxRoot\STPDonePmStore</value>
            </setting>
            <setting name="scanScripPath" serializeAs="String">
                <value>\\10.27.137.111\smg\test\DBoxRoot\FrameStore</value>
            </setting>
            <setting name="destMediaManagerPathID" serializeAs="String">
                <value>20170509135644967487</value>
            </setting>
            <setting name="channelPath" serializeAs="String">
                <value>快编制作</value>
            </setting>
            <setting name="fileExtension" serializeAs="String">
                <value>.mxf</value>
            </setting>
            <setting name="destScriptPath" serializeAs="String">
                <value>\\10.26.124.101\admin\xw\XnewsSearchToAvid\script</value>
            </setting>
            <setting name="destVideoPath" serializeAs="String">
                <value>\\10.26.124.101\admin\xw\XnewsSearchToAvid\video</value>
            </setting>
        </xnewsInService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
